jobs:
  flang-runtime-bookworm:
    name: debian-12
    uses: ./.github/workflows/flang-runtime.yml
    secrets: inherit
    with:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      codename: bookworm
  flang-runtime-bullseye:
    name: debian-11
    secrets: inherit
    uses: ./.github/workflows/flang-runtime.yml
    with:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      codename: bullseye
  flang-runtime-focal:
    name: ubuntu-20.04
    secrets: inherit
    uses: ./.github/workflows/flang-runtime.yml
    with:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      codename: focal
  flang-runtime-jammy:
    name: ubuntu-22.04
    secrets: inherit
    uses: ./.github/workflows/flang-runtime.yml
    with:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      codename: jammy
  flang-runtime-noble:
    name: ubuntu-24.04
    secrets: inherit
    uses: ./.github/workflows/flang-runtime.yml
    with:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      codename: noble
  flang-runtime-trixie:
    name: debian-13
    secrets: inherit
    uses: ./.github/workflows/flang-runtime.yml
    with:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
      codename: trixie
  patch:
    if: ${{ needs.flang-runtime-bookworm.outputs.outdated == 'true' || needs.flang-runtime-bullseye.outputs.outdated == 'true' || needs.flang-runtime-focal.outputs.outdated == 'true' || needs.flang-runtime-jammy.outputs.outdated == 'true' || needs.flang-runtime-noble.outputs.outdated == 'true' || needs.flang-runtime-trixie.outputs.outdated == 'true' }}
    name: Patch the description to DockerHub
    needs:
      - flang-runtime-bookworm
      - flang-runtime-bullseye
      - flang-runtime-focal
      - flang-runtime-jammy
      - flang-runtime-noble
      - flang-runtime-trixie
    secrets: inherit
    uses: ./.github/workflows/patch.yml
    with:
      DOCKERHUB_USERNAME: ${{ vars.DOCKERHUB_USERNAME }}
name: Check updates
on:
  schedule:
    - cron: '30 3,15 * * *'
  workflow_dispatch:
