jobs:
  dockerhub:
    name: Acquire digests from DockerHub
    outputs:
      bookworm: ${{ steps.dockerhub.outputs.bookworm }}
      bullseye: ${{ steps.dockerhub.outputs.bullseye }}
      focal: ${{ steps.dockerhub.outputs.focal }}
      jammy: ${{ steps.dockerhub.outputs.jammy }}
      noble: ${{ steps.dockerhub.outputs.noble }}
    runs-on: ubuntu-latest
    steps:
      - id: dockerhub
        name: Acquire and compare
        run: |
          api=https://hub.docker.com/v2/namespaces
          repo=$api/${{ secrets.DOCKERHUB_USERNAME }}/repositories
          declare -A apt
          while read -r codename datetime; do
            apt[$codename]=$datetime
          done < <(
            for dist in debian:bookworm debian:bullseye ubuntu:focal ubuntu:jammy ubuntu:noble; do
              distro=${dist%:*}
              codename=${dist#*:}
              version=$(
                grep -P ",$codename," \
                  < /usr/share/distro-info/$distro.csv \
                  | sed -r 's/(\s+[^,]*)?,.*$//'
              )
              tags=$repo/apt-fast/tags
              digest=$(curl -s $tags/$distro-$version-latest | jq -Mcr '.digest')
              url=$tags\?page=1\&page_size=100
              while [[ $url != null ]]; do
                json=$(curl -s $url)
                name=$(
                  jq -Mcr \
                    ".results[]|select(.digest==\"$digest\")|select(.name|endswith(\"-latest\")|not).name" \
                    <<< $json
                )
                [[ -z $name ]] \
                  || {
                    datetime=${name##*-}
                    echo $codename=$datetime
                    break
                  }
                url=$(jq -Mcr '.next' <<< $json)
              done
            done
          )
          declare -A llvm
          while IFS='=' read -r name digest last_pushed; do
            [[ $name =~ ^[0-9.]+$ ]] && continue
            datetime=$(date --date="$last_pushed" '+%Y%m%d%H%M%S')
            llvm[$name]="$datetime,$digest"
          done < <(
            url=$repo/llvm/tags\?page=1\&page_size=100
            while [[ $url != null ]]; do
              json=$(curl -s $url)
              jq -Mcr \
                ".results|map(\"\(.name)=\([.images[]|select(.architecture==\"amd64\")]|max_by(.last_pushed)|\"\(.digest)=\(.last_pushed)\")\")|@tsv" \
                <<< $json \
                | sed -r 's/\t/\n/g'
              url=$(jq -Mcr '.next' <<< $json)
            done
          )
          boolean=(true false)
          for name in "${!llvm[@]}"; do
            value=${llvm[$name]}
            datetime=${value%,*}
            digest=${value#*,}
            outdated=$(
              [[ $datetime -lt ${apt[$name]} ]]
              echo $?
            )
            echo "$name={\"digest\":\"$digest\",\"outdated\":${boolean[$outdated]}}"
          done \
            | tee -a $GITHUB_OUTPUT \
            >&2
        shell: bash
  outdated_bookworm:
    needs:
      - dockerhub
    uses: kei-g/docker-llvm/.github/workflows/outdated.yml@main
    with:
      json: ${{ needs.dockerhub.outputs.bookworm }}
      name: bookworm
  outdated_bullseye:
    needs:
      - dockerhub
    uses: kei-g/docker-llvm/.github/workflows/outdated.yml@main
    with:
      json: ${{ needs.dockerhub.outputs.bullseye }}
      name: bullseye
  outdated_focal:
    needs:
      - dockerhub
    uses: kei-g/docker-llvm/.github/workflows/outdated.yml@main
    with:
      json: ${{ needs.dockerhub.outputs.focal }}
      name: focal
  outdated_jammy:
    needs:
      - dockerhub
    uses: kei-g/docker-llvm/.github/workflows/outdated.yml@main
    with:
      json: ${{ needs.dockerhub.outputs.jammy }}
      name: jammy
  outdated_noble:
    needs:
      - dockerhub
    uses: kei-g/docker-llvm/.github/workflows/outdated.yml@main
    with:
      json: ${{ needs.dockerhub.outputs.noble }}
      name: noble
  patch:
    if: ${{ needs.publish-if-outdated.outputs.outdated == 'true' }}
    name: Patch the description to DockerHub
    needs:
      - publish-if-outdated
      - publish-latest
    secrets:
      DOCKERHUB_PASSWORD: ${{ secrets.DOCKERHUB_PASSWORD }}
      DOCKERHUB_USERNAME: ${{ secrets.DOCKERHUB_USERNAME }}
    uses: ./.github/workflows/patch.yml
  publish-if-outdated:
    continue-on-error: true
    name: Publish if ${{ matrix.name }} has outdated
    needs:
      - dockerhub
      - outdated_bookworm
      - outdated_bullseye
      - outdated_focal
      - outdated_jammy
      - outdated_noble
    outputs:
      outdated: ${{ steps.outdated.outputs.bookworm == 'true' || steps.outdated.outputs.bullseye == 'true' || steps.outdated.outputs.focal == 'true' || steps.outdated.outputs.jammy == 'true' || steps.outdated.outputs.noble == 'true' }}
    runs-on: ubuntu-latest
    steps:
      - env:
          NEEDS: ${{ toJSON(needs) }}
        id: outdated
        name: Necessary for update
        run: |
          jq -Mcr '.outdated_${{ matrix.name }}.outputs|"MAJOR_VERSION=\(.MAJOR_VERSION)\nVERSION=\(.VERSION)\n${{ matrix.name }}=\(.OUTDATED)\n value=\(.OUTDATED)"' \
            <<< $NEEDS \
            | sed -r 's/^\s+//g' \
            | tee -a $GITHUB_OUTPUT \
            >&2
        shell: bash
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Checkout the repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          ref: main
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Copy Dockerfile
        run: |
          cp docker/linux/${{ matrix.name }}/Dockerfile ./
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
      - id: tags
        if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Decide tags
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/llvm
          tags: |
            type=raw,value=${{ matrix.name }}
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Run Buildx and Push it to DockerHub
        uses: docker/build-push-action@v6
        with:
          build-args: |
            MAJOR_VERSION=${{ steps.outdated.outputs.MAJOR_VERSION }}
          context: .
          push: true
          tags: |
            ${{ steps.tags.outputs.tags }}
    strategy:
      fail-fast: false
      matrix:
        name:
          - bullseye
          - focal
          - jammy
          - noble
  publish-latest:
    continue-on-error: true
    name: Publish if ${{ matrix.name }} has outdated
    needs:
      - dockerhub
      - outdated_bookworm
      - outdated_bullseye
      - outdated_focal
      - outdated_jammy
      - outdated_noble
      - publish-if-outdated
    runs-on: ubuntu-latest
    steps:
      - env:
          NEEDS: ${{ toJSON(needs) }}
        id: outdated
        name: Necessary for update
        run: |
          jq -Mcr '.outdated_${{ matrix.name }}.outputs|"MAJOR_VERSION=\(.MAJOR_VERSION)\nVERSION=\(.VERSION)\n${{ matrix.name }}=\(.OUTDATED)\n value=\(.OUTDATED)"' \
            <<< $NEEDS \
            | sed -r 's/^\s+//g' \
            | tee -a $GITHUB_OUTPUT \
            >&2
        shell: bash
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Checkout the repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 1
          ref: main
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Copy Dockerfile
        run: |
          cp docker/linux/${{ matrix.name }}/Dockerfile ./
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Login to DockerHub
        uses: docker/login-action@v3
        with:
          password: ${{ secrets.DOCKERHUB_PASSWORD }}
          username: ${{ secrets.DOCKERHUB_USERNAME }}
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
      - id: tags
        if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Decide tags
        uses: docker/metadata-action@v5
        with:
          images: ${{ secrets.DOCKERHUB_USERNAME }}/llvm
          tags: |
            type=raw,value=latest
            type=raw,value=${{ matrix.name }}
            type=raw,value=${{ steps.outdated.outputs.VERSION }}
      - if: ${{ steps.outdated.outputs.value == 'true' }}
        name: Run Buildx and Push it to DockerHub
        uses: docker/build-push-action@v6
        with:
          build-args: |
            MAJOR_VERSION=${{ steps.outdated.outputs.MAJOR_VERSION }}
          context: .
          push: true
          tags: |
            ${{ steps.tags.outputs.tags }}
    strategy:
      fail-fast: false
      matrix:
        name:
          - bookworm
name: Check updates
on:
  schedule:
    - cron: '30 3,15 * * *'
  workflow_dispatch:
