jobs:
  build:
    env:
      DEBCONF_NOWARNINGS: yes
      DEBIAN_FRONTEND: noninteractive
    name: Build ${{ needs.llvm.outputs.timestamp }}/${{ needs.llvm.outputs.gitref }}
    needs:
      - llvm
    runs-on: ubuntu-latest
    steps:
      - name: Checkout the repository
        uses: actions/checkout@v5
        with:
          fetch-depth: 1
      - name: Install `criu`
        run: |
          sudo apt install ./.github/criu_4.1.1_amd64.deb
      - name: Install dependent packages
        run: |
          sudo apt install --no-install-recommends --yes \
            gnupg \
            libedit-dev \
            liblzma-dev \
            libxml2-dev \
            libzstd-dev \
            ocaml \
            python3-dev \
            swig
      - id: restore-source
        name: Restore the llvm source from cache
        uses: actions/cache/restore@v4
        with:
          key: llvm-${{ needs.llvm.outputs.timestamp }}--${{ needs.llvm.outputs.gitref }}
          path: llvm-project
          restore-keys: |
            llvm-
      - id: restore-work
        name: Restore the working directories from cache
        uses: actions/cache/restore@v4
        with:
          key: work-${{ needs.llvm.outputs.gitref }}-${{ needs.llvm.outputs.timestamp }}
          path: work
          restore-keys: |
            work-
      - env:
          gitref: ${{ needs.llvm.outputs.gitref }}
          timestamp: ${{ needs.llvm.outputs.timestamp }}
        if: steps.restore-work.outputs.cache-hit == ''
        name: Configure
        run: |
          mkdir -p work/{build,criu,dist}
          cd work/build
          cmake \
            -D CMAKE_BUILD_TYPE=Release \
            -D CMAKE_CXX_STANDARD=17 \
            -D CMAKE_INSTALL_PREFIX=../dist \
            -D LLVM_BUILD_INSTRUMENTED_COVERAGE=OFF \
            -D LLVM_BUILD_TESTS=OFF \
            -D LLVM_BUILD_TOOLS=ON \
            -D LLVM_ENABLE_LIBCXX=OFF \
            -D LLVM_ENABLE_LLD=OFF \
            -D LLVM_ENABLE_PROJECTS="bolt;clang;clang-tools-extra;flang;lld;lldb;mlir;polly" \
            -D LLVM_ENABLE_RUNTIMES="libc;libunwind;libcxxabi;libcxx;compiler-rt;openmp;flang-rt;libclc" \
            -D LLVM_INCLUDE_BENCHMARKS=OFF \
            -D LLVM_INCLUDE_EXAMPLES=OFF \
            -D LLVM_INCLUDE_TESTS=OFF \
            -D LLVM_INSTALL_UTILS=ON \
            -D LLVM_TARGETS_TO_BUILD=X86 \
            -D LLVM_VERSION_SUFFIX="++$timestamp+$gitref" \
            -G Ninja \
            -S ../../llvm-project/llvm
      - env:
          timeout: ${{ inputs.timeout }}
        id: build-a
        if: steps.restore-work.outputs.cache-hit == 'true'
        name: Continue building
        run: |
          cd work/build
          sudo criu restore -D ../criu -j &
          pid=$!
          sleep $(( timeout * 60 ))
          status=$(jobs -l | grep $pid | sed -r 's/\s+/ /g' | cut -d' ' -f3)
          echo "status=$status" | tee -a $GITHUB_OUTPUT >&2
          [ "$status" = Running ] \
            && {
              sudo rm -fr ../criu
              mkdir ../criu
              sudo criu dump -D ../criu -j -t $pid
            } \
            || :
      - env:
          timeout: ${{ inputs.timeout }}
        id: build-b
        if: steps.restore-work.outputs.cache-hit == ''
        name: Build
        run: |
          cd work/build
          cmake --build . &
          pid=$!
          sleep $(( timeout * 60 ))
          status=$(jobs -l | grep $pid | sed -r 's/\s+/ /g' | cut -d' ' -f3)
          echo "status=$status" | tee -a $GITHUB_OUTPUT >&2
          [ "$status" = Running ] \
            && {
              [ -d ../criu ] || mkdir ../criu
              sudo criu dump -D ../criu -j -t $pid
            } \
            || :
      - if: ${{ steps.build-a.outputs.status == 'Running' || steps.build-b.outputs.status == 'Running' }}
        name: Cache the building state
        uses: actions/cache/save@v4
        with:
          key: work-${{ needs.llvm.outputs.gitref }}-${{ needs.llvm.outputs.timestamp }}
          path: work
      - if: ${{ steps.build-a.outputs.status == 'done' || steps.build-b.outputs.status == 'done' }}
        name: Install
        run: |
          cd work/build
          cmake --install .
          find ../dist -type f -exec md5sum {} \; > md5sums
          tar -C ../dist -cf - . | xz -9cevz > ../dist/data.tar.xz
          mv md5sums ../dist/
      - if: ${{ steps.build-a.outputs.status == 'done' || steps.build-b.outputs.status == 'done' }}
        name: Upload built files as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: llvm-${{ needs.llvm.outputs.timestamp }}
          path: work/dist
  llvm:
    name: Clone llvm repository
    outputs:
      gitref: ${{ steps.git.outputs.ref }}
      timestamp: ${{ steps.git.outputs.timestamp }}
    runs-on: ubuntu-latest
    steps:
      - id: restore-source
        if: ${{ inputs.ignore-llvm-cache == false }}
        name: Restore the llvm repository from cache
        uses: actions/cache/restore@v4
        with:
          key: llvm-
          path: llvm-project
          restore-keys: |
            llvm-
      - if: ${{ inputs.ignore-llvm-cache == true || steps.restore-source.outputs.cache-hit == false }}
        name: Clone the repository
        run: |
          git clone \
              --depth=1 \
              --recursive \
              -o github \
            https://github.com/llvm/llvm-project.git
      - id: git
        name: Acquire ref and timestamp of the repository
        run: |
          cd llvm-project
          echo ref=$( \
            TZ=UTC0 git log \
              --pretty=format:%H \
              -1 \
            ) \
            | tee -a $GITHUB_OUTPUT \
            >&2
          echo timestamp=$( \
            TZ=UTC0 git log \
              --date=format-local:'%Y%m%d%H%M%S' \
              --pretty=format:'%cd' \
              -1 \
            ) \
            | tee -a $GITHUB_OUTPUT \
            >&2
      - if: ${{ inputs.ignore-llvm-cache == true || steps.restore-source.outputs.cache-hit == false }}
        name: Cache the repository
        uses: actions/cache/save@v4
        with:
          key: llvm-${{ steps.git.outputs.timestamp }}-${{ steps.git.outputs.ref }}
          path: llvm-project
name: Build
on:
  workflow_dispatch:
    inputs:
      ignore-llvm-cache:
        default: false
        description: Ignore llvm source cache
        type: boolean
      timeout:
        default: 90
        description: Timeout in minute
        required: true
        type: number
