jobs:
  initiate:
    name: Initiate
    needs:
      - source
    runs-on: ubuntu-latest
    steps:
      - id: cache
        name: Restore the repository from cache
        uses: actions/cache/restore@v4
        with:
          key: llvm-source-${{ needs.source.outputs.datetime }}
          path: llvm-project
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Pull docker images
        run: |
          docker pull snowstep/llvm:${{ matrix.codename }}
      - id: container
        if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Start container
        run: |
          echo id=$(
            docker run \
                --detach \
                --interactive \
                --tty \
              snowstep/llvm:${{ matrix.codename }}
          ) \
            | tee -a $GITHUB_OUTPUT \
            >&2
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Install packages
        run: |
          docker exec \
              ${{ steps.container.outputs.id }} \
              sh -s << _EOT_
          apt-fast update
          apt-fast install --no-install-recommends --yes \
            git \
            jq \
            libedit-dev \
            libxml2-dev \
            libzstd-dev \
            python3-pip \
            zlib1g-dev \
            zstd
          apt clean --yes
          rm -fr /var/lib/apt/lists/*
          pip install cmake ninja
          _EOT_
        shell: bash
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Write the llvm repository
        run: |
          docker cp \
              --archive \
              --follow-link \
            llvm-project \
            ${{ steps.container.outputs.id }}:/
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Delete the repository
        run: |
          rm -fr llvm-project
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Stop container
        run: |
          docker kill ${{ steps.container.outputs.id }}
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Commit container to image
        run: |
          docker commit \
            ${{ steps.container.outputs.id }} \
            snowstep/llvm-source:${{ matrix.codename }}
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Remove container
        run: |
          docker rm ${{ steps.container.outputs.id }}
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Login to DockerHub
        run: |
          password="${{ secrets.DOCKERHUB_PASSWORD }}"
          docker login \
              --password-stdin \
              -u ${{ secrets.DOCKERHUB_USERNAME }} \
            <<< $password
        shell: bash
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Push images
        run: |
          matched=$(grep -PR ",${{ matrix.codename }}," /usr/share/distro-info)
          filepath=${matched%:*}
          filename=${filepath##*/}
          distro=${filename%.*}
          version=$(grep -P '^[1-9]\d*(\.\d+)?' -o <<< ${matched#*:})
          source=snowstep/llvm-source:${{ matrix.codename }}
          docker push $source
          for suffix in ${{ needs.source.outputs.datetime }} latest; do
            dest=snowstep/llvm-source:$distro-$version-$suffix
            docker tag $source $dest
            docker push $dest
          done
        shell: bash
      - if: ${{ steps.cache.outputs.cache-hit == 'true' }}
        name: Logout
        run: |
          docker logout
    strategy:
      matrix:
        codename:
          - bookworm
          - bullseye
          - focal
          - jammy
          - noble
          - trixie
  source:
    name: Fetch the llvm repository
    outputs:
      datetime: ${{ steps.datetime.outputs.value }}
    runs-on: ubuntu-latest
    steps:
      - if: ${{ inputs.skip-clone != true }}
        name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
      - if: ${{ inputs.skip-clone != true }}
        name: Checkout the llvm repository
        run: |
          git clone \
              --recursive \
            https://github.com/llvm/llvm-project.git
      - id: cache
        if: ${{ inputs.skip-clone == true }}
        name: Restore the repository from cache
        uses: actions/cache/restore@v4
        with:
          key: llvm-source-
          lookup-only: true
          path: llvm-project
          restore-keys: |
            llvm-source-*
      - id: datetime
        name: Get the last commit datetime
        run: |
          case '${{ inputs.skip-clone }}' in
            true)
                matched=${{ steps.cache.outputs.cache-matched-key }}
                echo value=${matched##*-}
              ;;
            *)
                cd llvm-project
                datetime=$(git --no-pager log --date=iso-local --pretty=%cd -1)
                echo value=$(date --date="$datetime" --utc '+%Y%m%d%H%M%S')
              ;;
          esac \
            | tee -a $GITHUB_OUTPUT \
            >&2
        shell: bash
      - if: ${{ inputs.skip-clone != true }}
        name: Cache the repository
        uses: actions/cache/save@v4
        with:
          key: llvm-source-${{ steps.datetime.outputs.value }}
          path: llvm-project
name: Initiate LLVM Source
on:
  workflow_dispatch:
    inputs:
      skip-clone:
        default: true
        description: Skip cloning the repository
        type: boolean
