jobs:
  update:
    name: Update
    runs-on: ubuntu-latest
    steps:
      - name: Free disk space
        uses: jlumbroso/free-disk-space@main
        with:
          tool-cache: true
      - id: previous
        name: Restore the repository from cache
        uses: actions/cache/restore@v4
        with:
          key: llvm-source-
          path: llvm-project
          restore-keys: llvm-source-*
      - if: ${{ steps.previous.outputs.cache-hit != 'true' }}
        run: |
          git clone --recursive https://github.com/llvm/llvm-project.git
      - id: last-commit
        name: Acquire the latest commit datetime
        run: |
          cd llvm-project
          iso=$(git log --date=iso-local --format=%cd -1)
          echo datetime=$(date --date="$iso" --utc '+%Y%m%d%H%M%S') \
            | tee -a $GITHUB_OUTPUT \
            >&2
      - name: Save the repository to cache
        uses: actions/cache/save@v4
        with:
          key: llvm-source-${{ steps.last-commit.outputs.datetime }}
          path: llvm-project
name: LLVM source
on:
  schedule:
    - cron: '10,40 * * * *'
  workflow_dispatch:
