jobs:
  apt:
    name: Get the latest clang version on apt.llvm.org
    needs:
      - dockerhub
    outputs:
      commit-hash: ${{ steps.latest.outputs.commit-hash }}
      datetime: ${{ steps.latest.outputs.datetime }}
      major-version: ${{ steps.latest.outputs.major-version }}
      outdated: ${{ steps.outdated.outputs.value }}
    runs-on: ubuntu-latest
    steps:
      - id: latest
        name: Get the latest version on apt.llvm.org
        run: |
          repo=${{ inputs.codename }}
          name=llvm-toolchain-${{ inputs.codename }}
          repo=https://apt.llvm.org/$repo/dists/$name
          url=$repo/main/binary-amd64/Packages.gz
          response=$(curl -s $url | gzip -cd)
          echo ${#response} bytes received from $url
          version=$(
            grep -P '(?<=Version:\s).+$' -o \
              <<< $response \
              | sort -u \
              | grep -P '[1-9]\d*~\+\+\d{14}\+[\da-f]{11}'
          )
          echo ::group::version string
          echo $version
          echo ::endgroup::
          echo ::group::outputs
          {
            echo commit-hash=$(grep -P '(?<=\d{14}\+)[\da-f]{11}' -o <<< $version)
            echo datetime=$(grep -P '(?<=\+\+)\d{14}' -o <<< $version)
            echo major-version=$(grep -P '(?<=:)[1-9][0-9]*(?=~\+\+)' -o <<< $version)
          } \
            | tee -a $GITHUB_OUTPUT
          echo ::endgroup::
        shell: bash
      - id: outdated
        name: Necessary for update
        run: |
          echo value=$(
            [[ ${{ needs.dockerhub.outputs.datetime }} -lt ${{ steps.latest.outputs.datetime }} ]] \
              && echo true \
              || echo false
          ) | tee -a $GITHUB_OUTPUT
        shell: bash
  distro:
    name: Get distro name and version string corresponding to  ${{ inputs.codename }}
    outputs:
      long-name: ${{ steps.distro.outputs.long-name }}
    runs-on: ubuntu-latest
    steps:
      - id: distro
        uses: kei-g/github/debian/resolve-distro@main
        with:
          codename: ${{ inputs.codename }}
  dockerhub:
    name: Get the latest docker image
    needs:
      - distro
    outputs:
      datetime: ${{ fromJSON(steps.latest.outputs.llvm).datetime }}
      digest: ${{ fromJSON(steps.latest.outputs.llvm).digest }}
      outdated: ${{ steps.outdated.outputs.value }}
    runs-on: ubuntu-latest
    steps:
      - id: latest
        name: Get the latest docker image
        run: |
          repo=https://hub.docker.com/v2/namespaces/${{ inputs.DOCKERHUB_USERNAME }}/repositories
          for name in apt-fast llvm; do
            tags=$repo/$name/tags
            url=$tags/${{ needs.distro.outputs.long-name }}-latest
            echo ::group::$name
            json=$(curl -s $url)
            digest=$(jq -Mcr '.digest' <<< $json)
            url=$tags\?page=1\&page_size=100
            while [[ $url != null ]]; do
              json=$(curl -s $url)
              datetime=$(
                jq -Mcr \
                    ".results[]|select(.digest==\"$digest\" and (.name|test(\"-[0-9]{14}$\"))).name|split(\"-\")|last" \
                  <<< $json
              )
              [[ -z $datetime ]] \
                || {
                  echo "$name={\"datetime\": $datetime, \"digest\": \"$digest\" }" \
                    | tee -a $GITHUB_OUTPUT
                  break
                }
              url=$(jq -Mcr '.next' <<< $json)
            done
            echo ::endgroup::
          done
        shell: bash
      - env:
          NOT_UPDATED_SINCE: |
            {
              "bookworm": 20251015112211,
              "bullseye": 20250809111900,
              "focal": 20251014052939,
              "jammy": 20251015042503
            }
        id: outdated
        name: Check whether if outdated
        run: |
          not_updated_since=$(
            jq -Mcr '.${{ inputs.codename }}' \
              <<< $NOT_UPDATED_SINCE
          )
          case $not_updated_since in
            null)
                echo value=${{ fromJSON(steps.latest.outputs.apt-fast).datetime > fromJSON(steps.latest.outputs.llvm).datetime }}
              ;;
            *)
                echo value=false
              ;;
          esac \
            | tee -a $GITHUB_OUTPUT
        shell: bash
name: Compare currently installed version with the latest LLVM
on:
  workflow_call:
    inputs:
      DOCKERHUB_USERNAME:
        required: true
        type: string
      codename:
        required: true
        type: string
    outputs:
      commit-hash:
        value: ${{ jobs.apt.outputs.commit-hash }}
      datetime:
        value: ${{ jobs.apt.outputs.datetime }}
      distro-name:
        value: ${{ jobs.distro.outputs.long-name }}
      major-version:
        value: ${{ jobs.apt.outputs.major-version }}
      outdated:
        value: ${{ jobs.apt.outputs.outdated == 'true' || jobs.dockerhub.outputs.outdated == 'true' }}
  workflow_dispatch:
    inputs:
      codename:
        description: >
          Release codename of debian like distributions.
        options:
          - bookworm
          - bullseye
          - focal
          - jammy
          - noble
          - trixie
        required: true
        type: choice
